#top {
    width : 100vw;
    color : var(--color-white);
    text-align : center;
    height : 76vh;
    background : url("../images/jess-bailey-q10VITrVYUM-unsplash.jpg"), rgba(6, 32, 80, 0.884);
    background-blend-mode: multiply;
    background-attachment : fixed;
    background-size : cover;
    background-repeat : no-repeat;
    display : flex;
    justify-content: center;
    align-items : center;
}

#top h1 {
    font-size : 6.2rem;
    color : var(--color-white);
    text-shadow : 0px 0px 6px var(--color-primary-main);
}

#top h2 {
    color : var(--color-orange);
    margin : 1rem;
}

#top h3 {
    color : var(--color-primary-main);
    font-size : 2.4rem;
    margin-bottom : 1.6rem;
}

#top h4 {
    font-size : 1.5rem;
    text-transform : uppercase;
    color : var(--color-white);
    margin : .8rem;
}

#top button {
    height : 50px;
    padding : 0px 1rem;
    border-radius : 4px;
    border : 1px solid var(--color-white);
}

#top button:hover {
    background : var(--color-orange);
    color : var(--color-white);
}

#container {
    display : flex;
    flex-direction : column;
    gap : 2.4rem;
    padding-bottom : 2rem;
}

#fundamentals {
    min-height : 160px;
    width : 100vw;
    color : var(--color-white);
    padding : 1rem;
    background : var(--color-primary-main);    
}

#fundamentals h2 {
    font-size : 1.6rem;
    margin : 1rem;
}

#container section {
    width : 100%;
    display : flex;
    justify-content : center;
    flex-wrap : wrap;
    gap : 2rem;
}

.mast-card {
    height : 480px;
    border-radius : 4px;
    width : 400px;
    box-shadow : 0px 0px 4px var(--color-dark);
    overflow : hidden;
}

.card-header {
    height : 270px;
    display : flex;
    justify-content : center;
    align-items : center;
    background : var(--div-color);
}

.mast-card svg {
    height : 100px;
    object-fit : contain;
    width : 100%;
}

.card-body {
    padding : 1rem;
}

.card-body h4 {
    margin : 1rem;
    font-size : 1.5rem;
    font-weight : 300;
    color : var(--color-gray);
}

.card-body p {
    color : var(--color-dark);
}

@media screen and (max-width : 460px) {
    .mast-card {
        width : 90vw;
    }
}